<div class='user'>
  <img src=<%= user.photo %> class="user-photo" alt="user image">
  <div>
    <h3><%= user.name %></h3><br>
    <p>Number of posts: <%= user.posts_counter.to_i %></p>
  </div>
</div>
