* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.users-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  padding-top: 1rem;
  gap: 1rem;
}

.user {
  display: flex;
  gap: 0.5rem;
  width: 300px;
}

.user-photo {
  width: 70px;
  flex: 1;
}

.user div {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 3;
  padding: 1rem;
}
